.flexRow {
	display: flex;
	flex-direction: row-reverse;
}

.flag {
	width: 35px;
	height: 35px;
	background-image: url("./flags.png");
	background-size: 105px 105px;
	font-size: 1.2rem;
	font-weight: bold;
	color: black;
	text-shadow: 0 0 2px black, 0 0 2px white;
	box-sizing: border-box;
	position: relative;
	z-index: 25;
}

.flag-es {
	background-position: -70px -70px;
}

.flag-fr {
	background-position: -0px -70px;
}

.flag-en {
	background-position: -35px 0px;
}

.flag-ge {
	background-position: -35px -35px;
}
